<p id="notice"><%= notice %></p>

<p>
  <b>Project name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Technologies Used:</b>
  <%= @project.technologies_used %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
