<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<!-- TODO: How do I get the @post.author.email to display correctly?
      trying with this syntax gets a "undefined method `email' for nil:NilClass"
      when rendering in the browser.  Interestingly, rake runs just fine -sprestage -->
<p>
  <b>Author:</b>
  <%=  @post.author.email %>
</p>

<% if current_user %>
  Logged in as <%= current_user.email %>
<% end %>

<% if policy(@post).update? %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>

<%= link_to 'Back', posts_path %>
